<div>
	<div>
		<div>
			<h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
				<%= @user.name %>さんとのチャット
			</h2>
			<table class="message table">
				<thead>
					<tr>
						<th style="text-align: center; font-size: 20px;">
							<%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg", size: "40x40" %>
							<%= current_user.name %>
						<th style="text-align: center; font-size: 20px;">
							<%= attachment_image_tag @chat.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg", size: "40x40" %>
							<%= @user.name %>
							</th>
					</tr>
				</thead>
				<% @chats.each do |chat| %>
					<% if chat.user_id == current_user.id %>
						<tbody>
							<tr>
								<th class="d-flex">
									<p style="text-align: left;"><%= chat.message %></p>
								</th>
								<th></th>
							</tr>
						</tbody>
					<% else %>
						<tbody>
							<tr>
								<th></th>
								<th class="d-flex">
									<p style="text-align: right;"><%= chat.message %></p>
								</th>
							</tr>
						</tbody>
					<% end %>
				<% end %>
			</table>
			<div class="ml-5" style="position:fixed; bottom:5px;">
				<p style="font-weight:bolder; text-decoration:underline; color:red;">コメント入力フォーム</p>
				<%= form_with model: @chat, remote: true do |f| %>
					<%= f.text_field :message, size:"60x2" %>
					<%= f.hidden_field :room_id %>
				<% end %>
			</div>
		</div>
	</div>
</div>