<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= render 'books/home', user: @user, booker: @booker %>
        </div>
        <div class="col-md-8 offset-md-1">
            <h1>Book detail</h1>
                <table class="table container table-hover">
                    <tbody>
                        <tr class="row booker_<%= @book.id %>">
                            <%= render 'books/book', user: @user, book: @book %>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody id="comment_area">
                        <%= render 'books/comment', comments: @comments %>
                    </tbody>
                </table>
            <%= form_with(model:[@book, @post_comment], remote: true) do |f| %>
                <p><%= f.text_area :comment, size:"80x5", class:"text_area" %></p>
                <p><%= f.submit '送信' %></p>
            <% end %>
        </div>
    </div>
</div>